* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    padding-left: 10px;
}

h1 {
    color: #f94b07;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
a {
    font-size: 20px;
}